.column section {
  width: 50%;
  background-color: #16BAC5;
  padding: 1px 0px 1px 0px;
  text-align: center;
  font-family: "Alfa Slab One";
  float: left;
}

.column aside img {
  float: right;
  width: 100%;
}
