/* tee hee hee */
@font-face {
	font-family: "Comic";
	src: url('fonts/comic.ttf');
	src: url('fonts/comic.ttf') format('truetype');
}

body {
 background-image: url("bg.png");
 background-color: #ffffff;
}

.first{
	width:11%;
	height:110px;
	position:absolute;
	background-color: #ffb3b3;
	text-align: center;
	border: 3px solid #cf8da6;
	border-radius: 3px
 }
